$colorPrimary: yellow;
$colorSecondary: aqua;
$theme: blue;

@import "header";
@import "alert";
@import "mixin";
@import "function";
@import "condition";


body{
   background-color: blue;
}


footer{
   background-color: $colorPrimary;
   padding: calcule(100,100);
   h1{
      color: green;
   }
   &:hover{
      background-color: black;
   }
}